table {
    font-size: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*page-break-before: auto;*/
}

table td {
    height: 23px;
}

table .center {
    text-align: center;
}

table .right {
    text-align: right;
    padding-right: 10px;
}

table .head {
    background-color: #EEEEEE;
    font-weight: bold;
}

table .bold {
    font-weight: bold;
}

table .border-top {
    border-top: 1px solid black;
}

table .border-bottom {
    border-bottom: 1px solid black;
}

table .border-bottom-dotted {
    border-bottom: 1px dotted black;
}

table .text-danger {
    color: #b81900;
}

table .text-align-top {
    vertical-align: top;
}
