table, th, td {
    border: 0;
    padding-left: 10px;
    background-color: white;
    border-collapse: collapse;
    color: #0f0f0f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11pt;
}

th {
    font-weight: bold;
    text-align: center;
}

.nodok {
    font-size: 8pt;
    border-left: 1px solid #b5bbc8;
}

.dept {
    font-size: 8pt;
    border-right: 1px solid #b5bbc8;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.top {
    border-top: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.subtotal {
    border-top: 2px solid black;
    font-weight: bold;
    font-size: 14px;
}

.total {
    font-weight: bold;
    background-color: #f4b747;
    font-size: 16px;
}

.center {
    text-align: center;
}

.content {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
}

.bold {
    font-weight: bold;
}