table, th, td {
    border: 0;
    padding-left: 10px;
    background-color: white;
    border-collapse: collapse;
    color: #0f0f0f;
    font-family: "Serif";
    font-size: 12pt;
}

th {
    font-weight: bold;
    text-align: center;
}

.nodok {
    font-size: 8pt;
    border-left: 1px solid #b5bbc8;
}

.dept {
    font-size: 8pt;
    border-right: 1px solid #b5bbc8;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.top {
    border-top: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.subtotal {
    border-top: 2px solid black;
    font-weight: bold;
    font-size: 14px;
}

.total {
    font-weight: bold;
    background-color: #f4b747;
    font-size: 16px;
}

.center {
    text-align: center;
}

.content {
    text-align: justify;
    text-justify: inter-word;
}

.bold {
    font-weight: bold;
}

table .text-align-top {
    vertical-align: top;
}

.text-right {
    text-align: right;
}

.font-pkwt {
    font-size: 11pt;
}

.footer {
    font-size: 10pt;
    border-top: 1pt solid black;
    text-align: left;
}

.border-black {
    border: 1pt solid black;
}

.nilai-bobot {
    vertical-align: top;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.header-history {
    font-size: 10pt;
    text-align: center;
    border: 1px solid black;
    padding: 0;
    background: darkgray;
}

.detail-history {
    font-size: 10pt;
    text-align: center;
    border: 1px solid black;
    padding: 0;
}